.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1354px;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    left: -1%;
    top: 52px;
    background-color: rgb(0, 0, 0);
    max-width: 102%;
}

.menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    margin-left: 30px;
}
.menu a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s ease-in-out;
    position: relative;
    left: -95px;
}
.menu li a::after {
    content: "";
    background-color: #e53637;
    position: absolute;
    width: 0px;
    height: 2px;
    top: 23px;
    margin-left: -25px;
    transform:translateX(-50%) scale(0);
    transition: all .5s ease-in-out;
     left: 107%;    
}
.menu li:hover a::after{
  transform:translateX(-50%) scaleX(1.1);
  width: 100%;
}
.menu a:focus{
    color: #e53637;
}
.logo{
    font-size: 3.6vw;
    margin-left: 27px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: cursive;
    width: 23%;
}
.fa-solid{
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}
.badge{
    font-size: .7rem;
    position: relative;
    top: -11px;
    left: -1%;
}
.toggle-button {
    cursor: pointer;
    display: none;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}
#cross{
    position: absolute;
    top: 10px;
    left: 30px;
    display: none;
    color: black;
    font-size: 3.5rem;
}
@media (max-width:1536px) {
    .logo{
        width: 27%;
    }
    .navbar{
        width: 100%;
    }
}
@media (max-width:1440px) {
    .logo{
        width: 27%;
    }
    .navbar{
        width: 100%;
    }
}
@media (max-width:1415px) {
    .logo{
        width: 27%;
    }
    .navbar{
        width: 101%;
    }
}
@media (max-width:1115px) {
     .logo{
        width: 23%;
        position: absolute;
        left: 38%;     }
    .toggle-button {
        cursor: pointer;
        display: block;
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        margin-left: 20px;
        position: relative;
        left: 0;
    }
    #cross{
        position: absolute;
        top: 56px;
        left: 90%;
        display: block;
        background-color: rgb(255, 255, 255);
        color: rgb(0 0 0);
        font-size: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
    .navbar{
        top: 0;
    }
    .menu{
        flex-direction: column;
        background-color: black;
        position: absolute;
        left: -103%;
        width: 100%;
        height: 100vh;
        top: 0;
        transition: all 1s ease-in-out;
        z-index: 1;
        }
        .menu li {
            margin-top: 51px;
        }
        .menu a{
            left: 44%;
            font-size: 3rem;
            top: 99%;
                }
            
    .menu.open{
        left: 0%;
    }
    .menu li a::after {
        content: "";
        background-color: #e53637;
        position: absolute;
        width: 0px;
        height: 2px;
        top: 53px;
        margin-left: -25px;
        transform: translateX(-50%) scale(0);
        transition: all .5s ease-in-out;
        left: 73%;
    }
    .navbar{
        width: 100%;
        left: 0%;
        transition: all 1s ease-in-out;
        top: 40px;
    }
   
}
@media (max-width:1105px) {
    .navbar{
        top: 40px;
    }
}
@media (max-width:1035px) {
    .navbar{
        top: 40px;
    }
}
@media (max-width:1019px) {
   .navbar{
    top: 40px;
}
}
@media (max-width:995px) {
.navbar{
    top:  40px;
    
}
}
@media (max-width:983px) {
    .navbar{
        top: 40px;
    }
}
@media (max-width:935px) {
    .logo{
        font-size: 2rem;
    }
}
@media (max-width:871px) {
    .logo{
        width: 26%;
        font-size: 3.8vw;
    }
}

@media (max-width:700px) {
    #cross{
        left: 75%;
    }
    .menu a{
        left: 36%;
    }
}

@media (max-width:438px) {
.navbar a{
    left: 28%;
}
.navbar{
    width: 100%;
}
}

@media (max-width:395px) {
    .navbar{
        width: 99%;
    }
    }
    
    
 

    @media (max-width:390px) {
        .navbar a{
            left: 20%;
        }
        #cross{
            left: 69%;
        }
        .navbar{
            width: 100%;
        }
    }
    
    @media (max-width:310px) {
        .menu a{
            left: 16%;
        font-size: 2.4rem;
        top: 89px;
        }
        #cross{
            left: 69%;
        }
        .navbar{
            width: 100%;
        }
    }