<nav class="navbar">
    <div class="toggle-button" (click)="toggleMenu()" *ngIf="!ismenu">&#9776;</div>
    <span class="toggle-button" id="cross" (click)="toggleMenu()" *ngIf="ismenu">&times;</span>
    <a href="" class="logo">Male Fashion</a>
    <ul class="menu" [ngClass]="{'open' : ismenu, 'close': !ismenu}">
        <li><a routerLink="" (click)="closenavbar()">Home</a></li>
        <li><a routerLink="about" (click)="closenavbar()">About</a></li>
        <li><a routerLink="shop" (click)="closenavbar()">Shop</a></li>
        <li><a routerLink="contact" (click)="closenavbar()">Contact</a></li>
    </ul>
    <div class="icon">
        
        <i class="fa-solid fa-bag-shopping" routerLink="cart">
        <span class="badge">({{cartTotal}})</span>
        </i>
    </div>
</nav>
