<nav class="navbar">
    <!-- <div class="toggle-button"  >&#9776;</div> -->
    <i class="toggle-button ri-menu-2-line" (click)="toggleMenu()" ></i>
    <a href="" class="logo">Male Fashion</a>
    <ul class="menu" id="menu" [ngClass]="{'open' : ismenu, 'close': !ismenu}">
        <li><a id="a" routerLink="" (click)="closenavbar()">Home</a></li>
        <li><a id="a" routerLink="about" (click)="closenavbar()">About</a></li>
        <li><a id="a" routerLink="shop" (click)="closenavbar()">Shop</a></li>
        <li><a id="a" routerLink="contact" (click)="closenavbar()">Contact</a></li>
        <i class="ri-close-fill" id="cross" (click)="toggleMenu()"></i>

    </ul>
    <div class="icon">
        
        <i class="fa-solid fa-bag-shopping" routerLink="cart">
        <span class="badge">({{cartTotal}})</span>
        </i>
    </div>
</nav>
