<div class="container">
    <div class="hero">
        <div class="section">
            <img src="https://themewagon.github.io/malefashion/img/about/about-us.jpg" alt="">
            <div class="wrapper">
            <div class="text">
                <h1>Who We Are ?</h1>
                <p>Contextual advertising programs sometimes have strict policies that need to be adhered too. Let’s take Google as an example.</p>
            </div>
            <div class="text1">
                <h1>Who We Do ?</h1>
                <p>In this digital generation where information can be easily obtained within seconds, business cards still have retained their importance.</p>
            </div> 
            <div class="text2">
                <h1>Why Choose Us</h1>
                <p>A two or three storey house is the ideal way to maximise the piece of earth on which our home sits, but for older or infirm people.</p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container1">
    <div class="hero1">
        <img src="https://themewagon.github.io/malefashion/img/about/testimonial-pic.jpg" alt="">
        <div class="text3">
            <i class="fa-solid fa-quote-left"></i>
            <p>“Going out after work? Take your butane curling iron with you to the office, heat it up, style your hair before you leave the office and you won’t have to make a trip back home.”</p>
        </div>
    </div>
</div>